@import 'variables.scss';



html{
    scroll-behavior:smooth ;
}
.container-fluid{
    padding-top: 50px;
    padding-bottom:360px;
}
main{
    hr{
        border-style: solid;
        border-width: 3px;
        border-color:darkblue;
    }
    h1{
        font-family: $fonts-1;
        font-size: 65px;
    }
    h5{
        font-family:$fonts-1;
    }
    #Home{
        background: 
            linear-gradient(
                to right,
                rgb($primary-color, 0.5),
                rgb($primary-color, 0.3)
            ),

            url('../images/Home.jpg');
        background-size: cover;
        font-family:$fonts-1;
        font-weight: bolder;
        .home{
            font-size: 150px;
            padding-top:50px
        }
        p{
            font-family:$fonts-2;
            font-size: 30px;
        }
        i{
            font-size: 100px;
            padding-left: 18%;
            padding-top: 20px;
    
            
        }
    }
    
    #Foods{
        background: url('../images/foods.jpg');
        background-size: cover;
    }
    #Electric{
        background:
        linear-gradient(
            to right,
            rgb($primary-color, 0.4),
            rgb($primary-color, 0.1)
        ),
        url('../images/electronicspage.jpg');
        background-size: cover;
    }
    #Furniture{
        background: 
        linear-gradient(
            to right,
            rgb($primary-color, 0.3),
            rgb($primary-color, 0.1)
        ),
        url('../images/furniture.jpg');
        background-size: cover;
    }
    #Shoes{
        background: 
        linear-gradient(
            to right,
            rgb($primary-color, 0.5),
            rgb($primary-color, 0.1)
        ),
        
        url('../images/shoes.jpg');
        background-size: cover;
    }
    #Clothes{
        background: url('../images/clothes.jpg');
        background-size: cover;
    }
}